button {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    border: none;
    background: purple;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: fit-content
}

.user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    background: #dfdfdf;
}

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

p {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2rem;
}

h3 {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2rem;
    color: gray;
}